<header class="c-section-header">
	<h2 class="c-section-header__title">{{ title }}</h2>
	{{# description }}<div class="c-section-header__desc c-text-passage">{{{ description }}}</div>{{/ description }}
</header>
