<div class="l-page-layout l-page-layout--two-column-fixed">

	<div class="l-page-layout__secondary">
		{{> organisms-header }}
	</div>

	<div class="l-page-layout__main">

		<main role="main">
			<div class="l-linelength-container">
				{{> organisms-text-passage }}
			</div>
		</main>
		{{> organisms-footer }}
	</div>

</div>
