<div class="l-page-layout l-page-layout--two-column-fixed">

	<div class="l-page-layout__secondary">
		{{> organisms-header }}
	</div>

	<div class="l-page-layout__main">

		<main role="main">

				<div class="l-container">
					<section class="c-section js-slide">
						{{# mediaBlock }}
						{{> molecules-media-block }}</li>
						{{/ mediaBlock }}
						<ul class="l-grid l-grid--2up">
							{{# tileSection }}
							<li class="l-grid__item">{{> molecules-tile }}</li>
							{{/ tileSection }}
						</ul>
					</section>
					<section class="c-section js-slide">
						<header class="c-section-header">
							<h2 class="c-section-header__title">Latest from the Blog</h2>
							{{> molecules-link-list }}
							{{# linkListButtonGroup}}
							{{> organisms-button-group }}
							{{/ linkListButtonGroup }}
						</header>
					</section>
				</div>
				<div class="u-overflow-x-hidden">
					{{> atoms-airplane }}
				</div>
		</main>
	</div>
</div>
{{> organisms-footer }}
