<div class="l-page-layout l-page-layout--two-column-fixed">

	<div class="l-page-layout__secondary">
		{{> organisms-header }}
	</div>

	<div class="l-page-layout__main">

		<main role="main">

			<div class="l-container">
				{{> molecules-page-header }}
				<div class="l-linelength-container">
					{{> organisms-text-passage }}
				</div>
				{{# projectList }}
				{{> organisms-stacked-block-list }}
				{{/ projectList }}
			</div>
		</main>
	</div>
</div>
{{> organisms-footer }}
