<footer class="c-footer" role="contentinfo">
	<div class="c-footer__inner">
		{{> molecules-footer-nav }}
		<ul class="c-footer__links">
			<li class="c-footer__links-item"><a href="mailto:inf5000@gmail.com" target="_blank" class="c-footer__links-link">inf5000@gmail.com</a></li>
			<li class="c-footer__links-item"><a href="https://twitter.com/frostyweather" target="_blank" class="c-footer__links-link">@frostyweather</a></li>
		</ul>
	</div>
	<div class="c-footer__sun js-footer-sun"></div>
</footer><!-- end c-footer -->
