<footer class="c-footer" role="contentinfo">
	<div class="c-footer__inner">
		{{> molecules-footer-nav }}
		{{> molecules-link-list }}
	</div>
	<div class="c-footer__sun js-footer-sun"></div>
</footer><!-- end c-footer -->
