<header class="c-header" role="banner">
	<div class="c-header__inner">
		{{> molecules-logo-link }}

		{{# primaryNav }}
		{{> molecules-primary-nav }}
		{{/ primaryNav }}

	</div>
</header><!-- end c-header -->
