/*------------------------------------*\
    #ARTICLE
\*------------------------------------*/

/**
 * Article Header
 */
.c-airplane {
	width: 100%;
	margin-top: 2rem;
	transform: rotate(-12deg);

	&.js-airplane {
		position: fixed;
		top: 50%;
		width: inherit;
		margin-top: 2rem;
		transform: rotate(0);
		animation: slideOut 1.5s linear forwards;
		z-index: 5;
	}
}
