/*------------------------------------*\
    #ARTICLE
\*------------------------------------*/

/**
 * Article Header
 */
.c-airplane {
	position: fixed;
	top: 50%;
	animation: slideOut 2s linear forwards;
}
