/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * Button
 */
.c-btn {
	display: inline-block;
	padding: 1rem 2rem;
	background: $color-brand-blue-dark;
	color: $color-white;
	font-family: $font-secondary;
	line-height: 1;
	border: 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: box-shadow 0.2s ease;

	&:hover, &:focus {
		box-shadow: 4px 4px 0px 0px $color-brand-blue;
		color: $color-white;
	}

	.c-btn-group & {
		margin-right: 1rem;

		&:last-child {
			margin-right: 0;
		}
	}
}

/**
 * Small button
 */
.c-btn-small {
	padding: $pad-half;
}

/**
 * Large button
 */
.c-btn-large {
	padding: $pad-half;
	text-transform: uppercase;
	background: $color-gray-50;
	font-size: 1.4rem;
	font-weight: normal;
}

.c-btn--centered {
	display: block;
	margin: 0 auto;
}
