/*------------------------------------*\
    #FOOTER NAVIGATION
\*------------------------------------*/

/**
 * Footer Nav
 */
.c-footer-nav {
	display: block;
	padding: 1rem;
}

/**
 * Footer Nav List
 */
.c-footer-nav__list {
	display: flex;
}

/**
 * Footer Nav List Item
 */
.c-footer-nav__item {
	width: auto;

	/**
	 * Wordpress targeting footer nav link
	 */
	a {
		display: block;
		margin-right: 2rem;
		font-family: $font-secondary;
		text-transform: uppercase;
		color: $color-white;

		&:hover, &:focus {
			color: $color-brand-orange;
		}
	}
}
