/*------------------------------------*\
    #FOOTER NAVIGATION
\*------------------------------------*/

/**
 * Footer Nav
 */
.c-footer-nav {
	display: block;
}

/**
 * Footer Nav List
 */
.c-footer-nav__list {

	@media all and (min-width: $bp-small) {
		display: flex;
		flex-direction: row;
	}
}

/**
 * Footer Nav List Item
 */
.c-footer-nav__item {
	width: auto;
}

/**
 * Footer Nav Links
 */
.c-footer-nav__link {
	font-family: $font-secondary;
	text-transform: uppercase;
	display: block;
	padding: 1rem 0;
	color: $color-gray-73;
	padding-bottom: 2px;

	&:hover, &:focus {
		color: $color-brand-orange;
	}

	@media all and (min-width: $bp-small) {
		margin-right: 2rem;
	}
}
