/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

/**
 * Footer
 */
.c-footer {
	color: $color-white;
	line-height: 1.2;
	margin-top: 2rem;

	&:before {
		content: "";
		display: block;
		background-image: url('../images/mountain-range.svg');
		height: 200px;

	}
}

.c-footer__inner {
	background: $color-brand-blue-dark;
}

/**
 * Footer nav
 */
.c-footer__info {
	max-width: 40em;

	a {
		color: $color-gray-15;
		text-decoration: underline;

		&:hover, &:focus {
			text-decoration: none;
		}
	}
}
