/*------------------------------------*\
    #HEADER
\*------------------------------------*/

/**
 * Header
 */
.c-header {
	margin-bottom: 2rem;
	padding: 1rem;

	@media all and (min-width: $bp-med) {
		position: sticky;
		top: 0;
		width: 13rem;
		border-bottom-right-radius: 4px;
		margin-bottom: 0;
	}
}

.c-header__inner {
	display: flex;
	position: relative;

	@media all and (min-width: $bp-med) {
		display: block;
		margin: 0 auto;
		max-width: $l-max-width;
	}
}

.c-header__controls {
	margin-left: auto;

	@media all and (min-width: $bp-med) {
		margin-left: 0;
	}
}

.c-header__nav-btn {
	margin-left: auto;
	margin-right: 1rem;

	@media all and (min-width: $bp-large) {
		display: none;
	}
}

/**
 * Search nav toggle button
 * 1) Specific nav toggle button for the search form
 */
.nav-toggle-search {
	display: block;

	@media all and (min-width: $bp-small-2) {
		display: none;
	}
}
