/*------------------------------------*\
    #LINK LIST
\*------------------------------------*/

.c-link-list--2up {
	@media all and (min-width: $bp-small) {
		display: flex;
		flex-wrap: wrap;
	}
}

.c-link-list__item {
	margin-bottom: 2rem;

	.l-grid & {
		margin-bottom: 0;
	}

	.c-link-list--2up & {
		margin-bottom: 1rem;

		@media all and (min-width: $bp-small) {
			width: 50%;
		}
	}
}

.c-link-list__link {
	display: block;
}

/**
 * Link list link text
 */
.c-link-list__link-text{
	text-transform: uppercase;
	color: $color-gray-73;
	font-size: $font-size-med-2;
	font-family: $font-secondary;
	font-weight: bold;
	box-shadow: inset 0px -1px 0px 0px $color-brand-blue-dark, inset 0px -2px 0px 0px $color-brand-orange;
	transition: color $anim-fade-quick $anim-ease;

	.c-link-list__link:hover &, .c-link-list__link:focus & {
		color: $color-brand-orange;
	}

	.c-link-list--small & {
		font-size: $font-size-small-2;
	}
}

.c-link-list__kicker-link {
	display: block;
	margin-bottom: 0.5rem;
}

.c-link-list__kicker-text {
	display: block;
	color: $color-brand-blue-dark;
	font-weight: bold;
	font-size: $font-size-small-2;
	text-transform: uppercase;
	transition: color $anim-fade-quick $anim-ease;

	.c-link-list__kicker-link:hover &, .c-link-list__kicker-link:focus & {
		color: $color-brand-orange;
	}
}

.c-link-list__desc {
	margin-top: 0.5rem;

	.c-link-list--small & {
		margin-top: 0.25rem;
		font-size: $font-size-small-2;
	}
}
