/*------------------------------------*\
    #LOGO
\*------------------------------------*/

.c-logo {
	display: block;
	width: 100%;
}

.c-logo-link {
	display: inline-block;
	margin-right: 2rem;
	max-width: 10rem;

	@media all and (min-width: $bp-large) {
		margin-right: 0;
		max-width: none;
	}
}

.c-head {
	stroke: $color-gray-50;
	transition: stroke $anim-fade-quick $anim-ease;

	.c-logo-link:hover &,
	.c-logo-link:focus & {
		stroke: $color-brand-blue-dark;
	}
}

.js-circle-1 {
	transform: translateY(-500px);
	animation: spinSlide 0.5s linear forwards 0.5s;
}

.js-circle-2 {
	transform: translateY(500px);
	animation: spinSlide 0.5s linear forwards 0.25s;
	stroke: $color-gray-50;
	transition: stroke $anim-fade-quick $anim-ease;

	.c-logo-link:hover &,
	.c-logo-link:focus & {
		stroke: $color-brand-blue-dark;
	}
}

.js-circle-3 {
	transform: translateY(-500px);
	animation: spinSlide 0.5s forwards linear;
	stroke: $color-gray-50;
	transition: stroke $anim-fade-quick $anim-ease;

	.c-logo-link:hover &,
	.c-logo-link:focus & {
		stroke: $color-brand-blue-dark;
	}
}
