/*------------------------------------*\
    #PAGE HEADER
\*------------------------------------*/
/**
 * 1) The page header contains the page's heading, as perhaps other page information
 *    such as description or actions (edit, delete, etc).
 */
.c-page-header {
	margin-bottom: 2rem
}

.c-page-header__title {
	position: relative;
	color: $color-gray-73;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;

	@media all and (min-width: $bp-med) {
		font-size: 4rem;
	}
}

.c-page-header__desc {
	font-family: $font-secondary;
	font-size: $font-size-med-2;
}
