/**
 * Pagination
 */
.c-pagination {
	display: flex;
	margin-bottom: 1rem;
}

.c-pagination__item {

	a {
		padding-right: 1rem;
		margin-right: 1rem;
		color: $color-brand-blue-dark;
		font-family: $font-secondary;
		font-weight: bold;
		text-transform: uppercase;
		border-right: 3px solid $color-brand-orange;


		&:hover, &:focus {
			color: $color-brand-orange;
		}
	}

	&:last-child {
		a {
			border-right: none;
			margin-right: none;
			padding-right: none;
		}
	}
}
