/*------------------------------------*\
    #MARGIN CLASSES
\*------------------------------------*/

/**
 * Margin bottom
 * 1) Utility to force a margin bottom
 */
.u-margin-bottom {
	margin-bottom: 1rem !important;
}

/**
 * Margin bottom large
 * 1) Utility to force a large margin bottom
 */
.u-margin-bottom-large {
	margin-bottom: 2rem !important;
}

/**
 * Margin top large
 * 1) Utility to force a large margin top
 */
.u-margin-top-large {
	margin-top: 2rem !important;
}
