{{# linkList }}
<ul class="c-link-list {{ styleModifier }}">

    {{# items }}
    <li class="c-link-list__item l-grid__item">

            <div class="c-link-list__body">
                <a href="{{ url }}" class="c-link-list__link">
                    <span class="c-link-list__link-text">{{{ cta }}}</span>
                </a><!--end c-link-list__link-->
                {{# description }}
                <div class="c-link-list__desc c-text-passage l-linelength-container">{{ description }}</div>
                {{/ description }}
            </div>

    </li><!--end c-link-list__item-->

    {{/ items }}

</ul><!--end c-link-list-->
{{/ linkList }}
