<a href="{{ url }}" class="c-tile {{ styleModifier }}">
	<div class="c-tile__inner">
		<h2 class="c-tile__headline">{{ headline }}</h2>
		{{# description }}
		<p class="c-tile__description">{{ description }}</p>
		{{/ description }}
	</div>
</a><!-- end c-tout -->
